<footer>
    <section class="container">
        <section class="row">
            <section class="item">
                <h4>Links</h4>
                <ul>
                    <li><a href="">Login</a></li>
                    <li><a href="">Register</a></li>
                    <li><a href="">Matches</a></li>
                </ul>
            </section>
            <section class="item">
                <h4>Made by</h4>
                <ul>
                    <li><a href="https://webdesignbymark.nl/">Mark Schutte</a></li>
                    <li><a href="https://github.com/markschuttehva/back-end-tech-21-22">Github repo</a></li>
                </ul>
            </section>
        </section>
    </section>
</footer>