<footer>
    <section class="container">
        <section class="row">
            <section class="item">
                <h4>Bedrijf</h4>
                <ul>
                    <li><a href="">About us</a></li>
                    <li><a href="">Our services</a></li>
                    <li><a href="">Privacy policy</a></li>
                    <li><a href="">...</a></li>
                </ul>
            </section>
            <section class="item">
                <h4>Get help</h4>
                <ul>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">Shipping</a></li>
                    <li><a href="">Returns</a></li>
                    <li><a href="">Order status</a></li>
                    <li><a href="">Payments</a></li>
                </ul>
            </section>
            <section class="item">
                <h4>Online shop</h4>
                <ul>
                    <li><a href="">item1</a></li>
                    <li><a href="">item1</a></li>
                    <li><a href="">item1</a></li>
                    <li><a href="">item1</a></li>
                </ul>
            </section>
            <section class="item">
                <h4>Follow us</h4>
                <ul>
                    <li><a href="">item1</a></li>
                    <li><a href="">item1</a></li>
                    <li><a href="">item1</a></li>
                    <li><a href="">item1</a></li>
                </ul>
            </section>
        </section>
    </section>
</footer>