<header>
    <ul>
        <li><img src="images/logo.png" alt="Logo"></li>
        <li><a href="/">Home</a></li>
        <li><a href="/matches">Matches</a></li>
        <!-- wanneer de gebruiker niet ingelogd is -->
        <li><a href="/login">Login</a></li>
        <!-- wanneer de gebruiker wel ingelogd is
        <li><a href="/user">naam gebruiker</a></li>
        <li><a href="/logout">Loguit</a></li>
        -->
    </ul>
</header>