<header>
    <ul>
        <li><img src="images/logo.png" alt="Logo"></li>
        <li>home</li>
        <li>login</li>
        <li>loguit</li>
        <li>About</li>
        <li>matches</li>
        <li>naam gebruiker</li>
    </ul>
</header>