* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	color: white;
}

body {
    background: url(../images/bg.jpg) no-repeat center center fixed; 
}

h1 {
    color: white;
    padding: 1em 0em 0em 0em;
	font-size-adjust: 1;
}

/* login */
.login {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 45%;
    margin: auto;
}

input {
    border: none;
    border-bottom: solid red;
    border-bottom-width: 0.2em;
    width: 16em;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    display: block;
    margin: 1em auto;
}

.info {
	text-align: center;
	margin: 5em 0em 3em 0em;
	background-color: rgba(255,255,255,0.25);
	padding: 1em;
}

.info p{
	margin: 1em;
	font-size-adjust: 1;
}

h2 {
	margin-bottom: 2em;
	font-size-adjust: 1;
	text-align: center;
}

main form:nth-child(4) {
    padding-bottom: 1em;
}

.select img:nth-child(odd) {
    width: 12em;
}

.matches {
	display: grid;
	grid-template-columns: auto auto auto;
	background-color: rgba(255,255,255,0.25);
}

.match {
	font-size: 30px;
	text-align: center;
	margin-bottom: 2em;
	margin-top: 2em;
}

.match img {
	max-height: 8em;
}

/*Header*/
header ul li img {
    width: 7em;
    margin: 0em 0em 0em 2em;
}

header ul {
    width: 100%;
	display: table
}

header ul li {
    font-weight: bold;
	font-size-adjust: 0.7;
	vertical-align: middle;
	display: table-cell;
}

header {
	position: sticky;
top: 0;
background-color: rgba(255,255,255,0.2);
}

a {
	text-decoration: none;
}

.login {
	padding-bottom: 3em;
	margin-bottom: 11em;
}

.login p {
	margin-top: 2em;
}


/*footer*/
.container {
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
footer{
	background-color: #24262b;
    padding: 2em;
	margin-top: 2em;
	display: flex;
	position: sticky;
	bottom: 0;
	left: 0;
	right: 0;
}

.item {
	margin-right: 2em;
}