<main class="login">
    <h1>Sign in</h1>
    <form action="">
        <input type="email" name="" id="" placeholder="Email">
        <input type="password" name="" id="" placeholder="password">
    </form>
    <h1>Register</h1>
    <form action="">
        <input type="email" name="" id="" placeholder="Email">
        <input type="date" name="" id="" min="2000-01-01" placeholder="dd-mm-jjjj">
        <input type="password" name="" id="" placeholder="password">
        <input type="password" name="" id="" placeholder="password">
    </form>
</main>