<head>
    <script src="/controllers/check.js"></script>
</head>
<main class="login">
    <h1>Sign in</h1>
    <form action="login" method="POST">
        <input type="email" name="email" id="username" placeholder="Email">
        <input type="password" name="password" id="password" placeholder="password">
        <input type="submit" value="Login" onclick="validate()">
    </form>
   <p>Not yet a member? <a href="/register">Click here to Register</a></p>
</main>