<!-- if user is logged in than remove:-->
<section class="info">
<h1>Welcome to the Pokemon matching site!</h1>
<p>Get a match based on your favourite starter Pokemon!</p>
<p><a href="register.hbs"><b>Register</b></a> or <a href="register.hbs"><b>login</b></a> to continue</p>
</section>

<!--if user is logged in only show matches-->

<h2>Matches</h2>
<section class="matches">
    <section class="match">
        <img src="images/ash.jpg" alt="Ash">
        <h3>Ash</h3>
        <p>24</p>
        <p>Pallettown</p>
    </section>
    <section class="match">
        <img src="images/jessie.png" alt="Jessie">
        <h3>Jessie</h3>
        <p>36</p>
        <p>Viridian City</p>
    </section>
    <section class="match">
        <img src="images/misty.jpg" alt="Misty">
        <h3>Misty</h3>
        <p>25</p>
        <p>Cerulean City</p>
    </section>
</section>