
<h1>Welcome to the site!</h1>
<h1>Select your favorite starter pokemon!</h1>
<section class="select">
    <img src="images/bulbasaur.png" alt="bulbasaur">
    <img src="images/Charmander.png" alt="charmander">
    <img src="images/squirtle.png" alt="squirtle">
</section>
<h2>To see a match please login!</h2>
<h2>Example</h2>
bulbasaur
Ash, Jessie

charmander
Blaze, Ash, James

squirtle
Misty, Ash, Giovannie