    <head>
        <script defer src="/controllers/register.js"></script>
    </head>
    <h1>Register</h1>
    <form action="/register" method="POST" id="form">
        <input type="text" name="name" id="name" placeholder="name" required>
        <input type="email" name="email" id="email" placeholder="Email" required>
        <input type="date" name="date" id="date" max="2000-01-01" placeholder="dd-mm-jjjj" required>
        <input type="password" name="password" id="password" placeholder="password" required>
        <input type="password" name="password2" id="password2" placeholder="password" required>
        <section class="select">
            <h2>Select a pokemon</h2>
            <input type="radio" name="pokemon" value="bulbasaur" id="bulbasaur">
            <label for="bulbasaur">
                <img src="images/bulbasaur.png" alt="bulbasaur">
            </label>
            <input type="radio" name="pokemon" value="charmander" id="charmander">
            <label for="charmander">
                <img src="images/Charmander.png" alt="charmander">
            </label>
            <input type="radio" name="pokemon" value="squirtle" id="squirtle">
            <label for="squirtle">
                <img src="images/squirtle.png" alt="squirtle">
            </label>     
        </section>
        <button type="submit" class="submit">Register</button>
    </form>
    <a href="/login">Login</a>
